<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<span class="icon-96">
	      			<i class="ion-social-instagram"></i>
	    		</span>

				<h2>Connect Your Instagram</h2>

				<div class="colored-line">
				</div>

				<div class="sub-heading">
					Connecting your Instagram will allow us search public photos in Instagram on your behalf.
				</div>

				<div>
					<a id="connect-dropbox-button" href="/instagram/authorize" class="btn standard-button inner-button">Connect Instagram</a>
				</div>
			</div>
		</div>
	</div>
</section>
