<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<span class="icon-96">
	      			<i class="ion-social-instagram"></i>
	    		</span>

				<h2>Choose a Surf Spot to View</h2>

				<div class="colored-line">
				</div>

        <div>
          <input style="font-size:24px;" type="text" placeholder="Start typing spot name..." class="typeahead">
        </div>
				<div>
					<button onclick="viewSurfReports()" id="connect-dropbox-button" href="/instagram/authorize" class="btn standard-button inner-button">View Surf Reports</button>
				</div>
			</div>
		</div>
	</div>
</section>


<input type="hidden" id="spot_id" value="">


<script>

function viewSurfReports(){
  window.location.href = "/spot/" + $('#spot_id').val()
}

$(function(){

  var jsonData = <%-JSON.stringify(spots)%>;

  var dataSource = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      identify: function(obj) { return obj._id; },
      local: jsonData

  });

  dataSource.initialize();


  $('.typeahead').typeahead({
      minLength: 0,
      highlight: true
  }, {
      name: 'spots',
      display: function(item){ return item.name},
      source: dataSource.ttAdapter(),
      // templates: {
      //     empty: [
      //         '<div class="empty">No Matches Found</div>'].join('\n'),
      //     suggestion: function (data) {
      //         return '<div>' + data.country + '–' + data.city + '</div>'
      //     }
      // }
  }).on('typeahead:select', function(ev, suggestion) {
    $('#spot_id').val(suggestion._id);
  });



  // var spots = new Bloodhound({
  //   datumTokenizer: Bloodhound.tokenizers.whitespace,
  //   queryTokenizer: Bloodhound.tokenizers.whitespace,
  //   // `states` is an array of state names defined in "The Basics"
  //   identify: function(obj) { return obj._id; },
  //   local: <%-JSON.stringify(spots)%>
  // });
  //
  // $('.typeahead').typeahead({
  //   hint: true,
  //   highlight: true,
  //   minLength: 1
  // },
  // {
  //   name: 'spots',
  //   displayKey: 'name',
  //   source: spots
  // });
})

</script>
