<div class="row">
  <div class="col-md-4 offset-md-4">
    <input type="text" placeholder="Start typing spot name...">
  </div>
</div>


<% spots.forEach(function(spot){
  console.log('spot is %s,%s',spot.lat,spot.lon)
}) %>
